<!DOCTYPE html>
<html>
<head>
	<title>Example connect page</title>
	<% include ../partials/lightningHeaders.ejs %>
</head>

<body>

<script type='text/javascript'>
	Sfdc.canvas( function(){
		var loggedIn = Sfdc.canvas.oauth.loggedin();
		var token = "<%= TOKEN %>";
		var msgIn = Sfdc.canvas.byId( "msgIn" );
		
		debugger;
		msgIn.setAttribute( "value", token );
	});
</script>

<!--
taken from
https://developer.salesforce.com/docs/atlas.en-us.platform_connect.meta/platform_connect/canvas_app_oauth_code_example.htm
-->

<div class='rome-lds'>
	<h1>Hey <%= USERNAME %></h1>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="text-input-01">Input Label</label>
		<div class="slds-form-element__control">
			<input type="text" id="msgIn" class="slds-input" placeholder="Message goes here" />
		</div>
		<button id='loginBtn' type='button' class='slds-button slds-button--brand'>Login</button>
	</div>
</div>


</body>
</html>
