<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class='rome-lds'>
	<h1>Not a signed request</h1>
	<p>[<%= errMsg %>]</p>
	<p>No booting of people... yet</p>
</div>

</body>
</html>
